/*==================== ROOT ====================*/
:root{
    /* CORES PRINCIPAIS */
    --color-primary: #ffd600;
    --color-primary-hover: #f5cc00;
    --color-primary-light: #ffe97a;
    --color-primary-soft: #fff3b0;

    /* BACKGROUND */
    --color-bg-main: #F9FAFB;

    /* TEXTOS */
    --color-text-primary: #0A0A0A;


}

/* =============================== */

/* ============================= */
/* BASE GERAL */
/* ============================= */
body {
    background-color: var(--color-bg-main); /* Fundo padrão da aplicação */
    color: var(--color-text-primary); /* Cor padrão dos textos */
}

/* Fundo principal com degradê no topo */
.app {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom,
            var(--color-primary) 0%,
            var(--color-primary-light) 8%,
            var(--color-primary-soft) 13%,
            var(--color-bg-main) 18%);
}

