.filmes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    .filme {
        background: var(--auxiliar-color);
        border-radius: 10px;
        overflow: hidden; 
        width: 250px;
        text-align: center;
        color: var(--text-color);
        text-decoration: none;
        
   transition: 0.2s ease; /* animação suave */
    border: 2px solid transparent;


        img {
            width: 100%;
            height: auto;
            display: block;
        }
        div{
            display: flex;
            padding: auto;
            justify-content: space-between;
        }
        h3 {
            font-size: 16px;
            margin-top: 10px;
        }
        div {
            padding: 10px;
            p {
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
    .filme:hover{
        animation-delay: 0.1ms;
        width: 280px;
       
    }
}
